@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
header {
  background-color: #1a0b2e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 0;
}
header .hamberger {
  display: none;
}
header .logo h2 {
  font-size: 40px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
header .logo h2 span {
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
header .page {
  display: flex;
  gap: 30px;
}
header .page a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
button {
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  padding: 12.5px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(./assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
  background-position: center;
  color: white;
}
footer .logo {
  font-size: 3vw;
}
footer .logo span {
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
footer .icon {
  display: flex;
  gap: 40px;
  color: #fafafa;
}
footer .icon i {
  margin-right: 10px;
}
footer .copyright {
  color: #fafafa;
} 

@media screen and (max-width: 576px) {
  header .page {
    display: none;
  }
  header .btn {
    display: none;
  }
  header {
    justify-content: space-around;
  }
  header .hamberger {
    display: block;
  }
    footer{
    padding: 40px 0;
  }

   footer .icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

}