@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
header {
  background-color: #1a0b2e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 0;
}
header .hamberger {
  display: none;
}
header .logo h2 {
  font-size: 40px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
header .logo h2 span {
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
header .page {
  display: flex;
  gap: 30px;
}
header .page a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
button {
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  padding: 12.5px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: white;
}
.banner {
  background-color: #1a0b2e4f;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 37px 0;
  background-image: url(./assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner .image {
  position: absolute;
  top: 20%;
  left: 46%;
}
.banner .banner-image{
  width: auto;
}
.banner .banner-image .main{
  /* width: 100%; */
}
.banner .banner-image h4 {
  background-color: #00ff88;
  color: black;
  width: 75px;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 20px;
  box-shadow: 0 0 9px 9px #00ff8877;
  position: absolute;
  top: 11%;
  left: 56%;
  transition: transform 4s ease;
}
.banner:hover h4 {
  transform: translateX(-255px);
}

.banner .banner-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
.banner-text h2 {
  font-size: 3.75rem;
  font-weight: 900;
  letter-spacing: 3px;
}
.banner-text p {
  font-weight: 100;
  margin-bottom: 24px;
}
.banner-text .different-btn {
  color: #00ff88;
  background: none;
  border: 1px solid #00ff88;
  margin-left: 10px;
}
/* podcast  */
.podcast {
  background-color: #1a0b2e;
  color: white;
  padding-bottom: 74px;
}
.podcast .podcast-text {
  width: 75%;
  max-width: 1200px;
  padding: 35px 0 0 0;
  margin: 0 auto;
  text-align: center;
}
.podcast-text h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 16px;
}
.podcast-text p {
  font-size: 1rem;
  line-height: 34px;
  color: #fafafa;
  font-weight: 100;
}
.podcast-text .last {
  margin-top: 22px;
  margin-bottom: 60px;
}
.podcast-text .line {
  border: none;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.669);
}
.podcast .podcast-rating {
  width: 75%;
  max-width: 1200px;
  padding: 70px 0 0 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.podcast-rating h2 {
  font-size: 2.5rem;
  color: #00ff88;
  margin-bottom: 10px;
}
.podcast-rating p {
  text-transform: uppercase;
  font-weight: 100;
}
.why {
  background-color: #230e3d;
}
.why h2 {
  font-size: 2.5rem;
  padding-top: 62px;
  padding-bottom: 40px;
}
.why .why-content,
.why-main {
  width: 75%;
  max-width: 1200px;
  padding: 0px 0 0 0;
  margin: 0 auto;
  text-align: center;
  color: #fafafa;
}
.why .why-main .audio,
.mobile,
.global,
.exclusive,
.resarch {
  color: #fafafa;
  padding: 40px;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: all 0.3s ease-in;
}
.why .why-main .card:hover {
  box-shadow: 0 0 10px 5px #000000;
}

.why .why-main img {
  margin-bottom: 16px;
  width: 40px;
}
.why .why-main h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.why .why-main p {
  font-weight: 100;
  line-height: 24px;
  text-align: left;
}
.why .why-main {
  display: grid;
  grid-template-areas:
    'audio mobile mobile'
    'audio global global'
    'exclusive exclusive resarch';
  gap: 30px;
  justify-content: center;
  padding-bottom: 80px;
}
.why .why-main .audio {
  grid-area: audio;
}
.why .why-main .mobile {
  grid-area: mobile;
}
.why .why-main .global {
  grid-area: global;
}
.why .why-main .exclusive {
  grid-area: exclusive;
}
.why .why-main .resarch {
  grid-area: resarch;
}

/* feature */
.feature {
  background-color: #1a0b2e;
  color: white;
}
.feature h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: bold;
}
.feature .feature-episode {
  width: 75%;
  max-width: 1200px;
  padding: 70px 0 0 0;
  margin: 0 auto;
}
.feature .feature-episode .card {
  max-width: 380px;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 20px;
  transition: all 0.3s ease-in;
}
.feature .feature-episode .card:hover {
  box-shadow: 0 0 10px 5px #000000;
}
.feature .feature-episode .card iframe {
  width: 100%;
  height: 214px;
  border-radius: 20px 20px 0 0;
}
.feature .feature-episode .card .text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
}
.card .text h4 {
  font-size: 1.5rem;
  font-weight: bold;
}
.card .text p {
  font-size: 1rem;
  line-height: 24px;
  color: #fafafa;
  font-weight: 100;
}
.card .text .green {
  font-weight: bold;
  color: #00ff88;
}
.card .text .green i {
  padding-right: 25px;
}
.feature-episode .main {
  display: flex;
  gap: 30px;
}
.feature .host {
  width: 75%;
  max-width: 1200px;
  padding: 90px 0;
  margin: 0 auto;
}
.feature .host .host-main {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 48px 40px;
  border-radius: 25px;
  transition: all 0.3s ease-in;
}
.feature .host .host-main:hover {
  box-shadow: 0 0 10px 5px #000000;
}
.feature .host .host-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  padding: 48px 40px;
  border-radius: 25px;
}
.host-text h3 {
  font-size: 2rem;
}
.host-text p {
  font-size: 1rem;
  line-height: 24px;
  color: #fafafa;
  font-weight: 100;
}
.host-text .icon {
  display: flex;
  gap: 20px;
}
.host-text .icon img {
  width: 38px;
  padding: 8px;
  border: 1px solid #533c72;
  /* border-radius: 50%; */
}

/* Footer  */
footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(./assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
  background-position: center;
  color: white;
}
footer .logo {
  font-size: 3vw;
}
footer .logo span {
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
footer .icon {
  display: flex;
  gap: 40px;
  color: #fafafa;
}
footer .icon i {
  margin-right: 10px;
}
footer .copyright {
  color: #fafafa;
}

@media screen and (max-width: 576px) {
  header {
    padding: 15px 0;
  }
  .banner {
    padding: 25px 0;
  }
  .banner .image {
    left: 44%;
    top: 14%;
    width: 12%;
  }
  .banner .banner-image .main{
  width: 50%;
  display: block;
  margin: 0 auto;

}
  .banner .banner-image h4 {
    top: 5%;
    left: 57%;
  }
  header .page {
    display: none;
  }
  header .btn {
    display: none;
  }
  header {
    justify-content: space-around;
  }
  header .hamberger {
    display: block;
  }
  footer {
    padding: 40px 0;
  }

  footer .icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .feature {
    padding-bottom: 71px;
  }
  .feature-episode .main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
  }
  .feature .host {
    width: 75%;
    max-width: 1200px;
    padding: 0px 0;
    margin: 0 auto;
  }
  .feature .host .host-main {
    flex-direction: column;
    text-align: center;
  }

  .feature .host .host-text {
    align-items: center;

    padding: 20px;
  }
  .feature .feature-episode {
    width: 75%;
    max-width: 1200px;
    padding: 45px 0 0 0;
    margin: 0 auto;
  }
  .host-text h3 {
    font-size: 2rem;
    text-align: center;
  }
  .podcast-text h2 {
    font-size: 2rem;
  }
  .podcast-text p {
    line-height: 22px;
  }
  .podcast-text .last {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .podcast .podcast-rating {
    padding: 40px 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .podcast {
    padding-bottom: 64px;
  }
  .podcast .podcast-text {
    padding: 30px 0 0 0;
  }
  .why h2 {
    padding-top: 52px;
  }
  .why .why-main {
    display: grid;
    grid-template-areas:
      'audio '
      'mobile'
      'global'
      'exclusive'
      'resarch';
    gap: 30px;
    justify-content: center;
    padding-bottom: 68px;
  }
  .host-text p {
   max-width: 250px;
}
.banner:hover h4 {
  transform: translateX(-150px);
}
}
